<section>

    <h2> Cadastre um novo Pokémon</h2>

    <form action="">

        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome">
        
        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" name="descricao">

        <label for="tipo">Tipo:</label>
        <input type="text" id="tipo" name="tipo">

    </form>

  </section>