*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f5f5f5;
}

header{
    background-color: rgb(161, 8, 8);
    padding: 3rem;
    box-shadow: 0rem .3rem .3rem #20212285;
}

header h1{
    display: flex;
    justify-content: space-around;
    font-size: 4rem;
    color: #f5f5f5;
}

section#pokedex{
    border-width: solid 1rem;
    border-color: black;
}

div{
    margin: 2rem;
    padding: 2rem;
    display: flex; 
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 .10rem rgb(161, 8, 8);
}

p#id{
    font-weight: bold;
    font-size: 1.3rem;
}

img#img{
    align-items: center; 
    width: 10%;
    justify-content: center;
}

h2#nome{
    padding: 3rem; 
    justify-content: start;
    width: 100px;
}

p#descricao{ 
    word-break: normal;
    justify-content: center;
    max-width: 400px;
}

p#tipo{
    text-align: center;
    justify-content: center;
    width: 80px;
}

section#botao{
    text-align: center;
}

button{
    padding: 1rem 1.2rem;
    font-size: 1.4rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #f5f5f5;
    background-color: rgb(161, 8, 8);
    border: none;
    border-radius: .7rem;
    box-shadow: 0 .3rem rgb(153, 153, 153);
}

button:hover{
    background-color: rgb(90, 5, 5)
}

section#botao button:active{
    background-color: rgb(161, 8, 8);
    box-shadow: 0 .15rem rgb(102, 101, 101);
    transform: translateY(0.13rem);
  }
