*{
    margin: 0;
    padding: 0;
}

section#pokedex{
    border-width: solid 1rem;
    border-color: black;
}

h1{
    display: flex;
    justify-content: space-around;
    font-size: 4rem;
}

div{
    padding: 2rem;
    display: flex; 
    align-items: center;
    width: 100%; 
    justify-content: space-around;
}

div img{
    align-items: center; 
    width: 10%;
    justify-content: center;
}

div h2, p{
    padding: 3rem; 
    justify-content: center;
}

h2#nome{ 
    justify-content: start;
    width: 150px;
}

p#descricao{
    word-break: normal;
    justify-content: center;
    max-width: 500px;
}

p#tipo{
    text-align: center;
    justify-content: center;
    width: 80px;
}

